<html>
  <head>
    <title>Email validation</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='index_style.css')}}">
  </head>
  <body>
      <div id='main'>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert">
            <p>Email {{ emails }} is not valid!</p>
          </div>
          {% endif %}
        {% endwith %}
        <form action='/addemail' method="post">
          Email Address: <input type='text' name='email' value=''><br>
          <input type='submit' value='Add Email'>
        </form>
      </div>
  </body>
</html>
