<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Friendships</title>
  </head>
  <body>
    <h1> I've got some friends? </h1>
    <ul>
      <h4>All my friends</h4>
      {% for user in users %}
        <li>
          {{user.first_name}} {{user.last_name}}
        </li>
      {% endfor %}
    </ul>
    <ul>
      <h4>All my friends ordered by first name</h4>
      {% for user in ordered_first %}
        <li>
          {{user.first_name}} {{user.last_name}}
        </li>
      {% endfor %}
    </ul>
    <ul>
      <h4>All my friends ordered by reverse last name</h4>
      {% for user in ordered_last %}
        <li>
          {{user.first_name}} {{user.last_name}}
        </li>
      {% endfor %}
    </ul>
    <ul>
      <h4>{{from_friendship.0.user.first_name}} {{from_friendship.0.user.last_name}} Has friends:</h4>
      {% for user in from_friendship %}
        <li>
          {{user.friend.first_name}} {{user.friend.last_name}}
        </li>
      {% endfor %}
    </ul>
    <ul>
      <h4>These people consider {{is_friend.0.friend.first_name}} {{is_friend.0.friend.last_name}} as their friend:</h4>
      {% for user in is_friend %}
        <li>
          {{user.user.first_name}} {{user.user.last_name}}
        </li>
      {% endfor %}
    </ul>
    <ul>
      <h4>all friendships where user isnt 4,5, or 6</h4>
      {% for user in is_not_query %}
        <li>
          {{user.user.first_name}} {{user.user.last_name}} considers {{user.friend.first_name}} {{user.friend.last_name}} a friend
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
