<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add an Animal!</title>
  </head>
  <body>
    <div class="wrapper">
      <form action="/mongooses" method="post">
        Animal: <input type="text" name="animal">
        Pack Type: <input type="text" name="pack_type">
        Number in Pack: <input type="text" name="in_pack">
        <input type="submit" value="Add Animal">
      </form>
    </div>
  </body>
</html>
