<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= animal[0].animal %></title>
  </head>
  <body>
    <h3><%= animal[0].animal %></h3>
    <p>Pack type: <%= animal[0].pack_type %></p>
    <p>Number in pack: <%= animal[0].in_pack %></p>
    <a href="/">Go back</a>
  </body>
</html>
