<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submit your car for a free hug!</title>
  </head>
  <body>
    <h3>Oh look, a form for cars!</h3>
    <form action='#nowherefornow' method='GET'>
      Make:<input type="text" name="car_make"><br>
      Model:<input type="text" name="car_model"><br>
      Year:<input type="text" name="car_year"><br>
      Miles:<input type="text" name="car_miles"><br>
      Color:<input type="text" name="car_color"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
