<link rel="stylesheet" href="assets/css/customers.css">
<link rel="stylesheet" href="assets/css/tables.css">
<div id="main">
  <div id="customer">
    <h3>Add a new customer</h3>
    <form ng-submit="cCtrl.addUser(customer)">
      Customer Name: <input type="text" ng-model = "customer.name"> <input type="submit" value="Add">
    </form>
    <br>
    <input id="user_search" placeholder="search name" type="text" ng-model="searchName">
  </div>
  <p class="error" ng-if="error">{{error}}</p>
  <p class="success" ng-if="success">{{success}}</p>
  <table>
    <tr>
      <th>Customer name</th>
      <th>Date Created</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="customer in customers | filter:searchName">
      <td>{{ customer.name }}</td>
      <td>{{ customer.updated_at | date: 'MMMM dd yyyy'}}</td>
      <td><button type="button" ng-click="cCtrl.removeUser(customer._id)">Delete</button></td>
    </tr>
  </table>
</div>
