<link rel="stylesheet" href="assets/css/orders.css">
<link rel="stylesheet" href="assets/css/tables.css">
<div id="main">
  <div id="customer">
    <h3>Add a new order</h3>
    <form ng-submit="oCtrl.addOrder(order)">
      Customer: <select ng-model="order.name">
        <option ng-repeat="customer in customers" value="{{customer.name}}">{{customer.name}}</option>
      </select>
      <br>Order: <select ng-model="order.product_id"><option ng-repeat="product in products" value="{{product._id}}">{{product.name}}</option></select>
        <select ng-model="order.quantity">
        <option ng-repeat="i in getNumber(number) track by $index" value="{{$index}}">{{$index}}</option>
      </select>
    <input type="submit" value="Order">
    </form>
    <p class="error" ng-if="error">{{error}}</p>
    <br>
    <input id="user_search" placeholder="search orders" type="text" ng-model="searchOrder">
  </div>
  <table>
    <tr>
      <th>Customer name</th>
      <th>Product</th>
      <th>Quantity Ordered</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat="order in orders | filter:searchOrder">
      <td>{{ order.name }}</td>
      <td>{{order._product.name}}</td>
      <td>{{order.quantity}}</td>
      <td>{{ order.created_at | date: 'MMMM dd yyyy'}}</td>
    </tr>
  </table>
</div>
