<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css')}}">
</head>
<body>
  <h1>Please fill out all fields below:</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          {% if not 'Success' in message %}
            <p class="alert">{{message}}</p>
          {% else %}
            <p class="success">{{message}}</p>
          {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/process' method='POST'>
    Email:<input type="text" name="email"><br>
    First Name:<input type="text" name="first_name"><br>
    Last Name:<input type="text" name="last_name"><br>
    Password:<input type="password" name="password1"><br>
    Confirm Password:<input type="password" name="password2"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
