<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="jquery.js" charset="utf-8"></script>
    <title>QuotingDojo</title>
    <style>
      *{
        margin:0;
        padding: 0;
      }
      #main{
        margin-left: 280px;
        margin-bottom: 30px;
      }
      span{
        vertical-align: top;
      }
      form{
        margin-left: 40px;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <h1>Welcome to Quoting Dojo!</h1>
      <form name="quoteget" action="/quotes" method="get"></form>
      <form name="quotepost" action="/quotes" method="post">
        <p>Your Name: <input type="text" name="name"></p><br>
        <p><span>Your Quote: </span><textarea name="quote" rows="10" cols="25"></textarea></p>
        <input type="submit" name="b_quotepost" value="Add my quote">
        <input type="submit" name="b_quoteget" value="Skip to quotes">
      </form>

    </div>
  </body>
</html>
