*{
  margin: 0;
  padding: 0;
}

button{
  padding: 4px;
}

#main{
  height: 1200px;
  width: 1000px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.userCtrl{
  display: inline-block;
}
