* {
  margin: 0;
  padding: 0;
}

#main{
  width: 400px;
  height: 400px;
  margin: 100px;
  padding: 5px;
}

.alert{
  width: 137px;
  height: 10px;
  margin: 10px;
  padding-left: 5px;
  padding-bottom: 8px;
  background-color: red;
  color: white;
  font-family: sans-serif;
  border: 2px solid black;
}

.success{
  width: 300px;
  height: 50px;
  margin: 10px;
  padding-left: 5px;
  padding-bottom: 8px;
  background-color: green;
  color: black;
  font-family: sans-serif;
  border: 2px solid black;
}
